@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #bc002d;
  --color-secondary: #f7f7f7;
  --color-tertiary: #333;
}

body {
  @apply text-lg h-screen font-thin font-sans;
  background-color: var(--color-secondary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply underline;
}
