@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #fac22f;
  --color-secondary: #333333;
  --color-tertiary: #222222;
  --color-quaternary: #191919;
  --color-quinary: white;
  --color-sestary: #151515;
}

body {
  @apply flex min-h-screen flex-col overflow-y-scroll leading-8 sm:leading-10 sm:text-xl;
  background: linear-gradient(
    93deg,
    var(--color-secondary) 20%,
    var(--color-quaternary) 20%,
    var(--color-tertiary) 20.5%,
    var(--color-tertiary) 80%,
    var(--color-quaternary) 80.5%,
    var(--color-secondary) 80.5%
  );
  background-attachment: fixed;

  @media (max-width: 639px) {
    background: var(--color-tertiary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link:hover {
  @apply border-primary text-primary transition-colors;
}

.shadow {
  box-shadow: 4px 4px 3px 0 rgba(19, 19, 19, 0.4);
}
