@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #004e98;
  --color-secondary: #e6f2ff;
  --color-tertiary: #c0c0c0;
  --color-quaternary: #efefef;
  --color-quinary: #ff6700;
}

body {
  @apply flex min-h-screen flex-col overflow-y-scroll leading-8 text-lg bg-quaternary;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.link:hover {
  @apply border-quinary text-quinary transition-colors;
}
